@import url('https://fonts.cdnfonts.com/css/intro');/* з https://www.cdnfonts.com/intro.font */
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');



.zovnishna_obolonka {
    /* for center of colum */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*colors for test*/
    /*border: 1px solid blue;
    background-color: rgb(125, 125, 255);*/

    min-width: 1202px;
    width: 100vw;
    /* щоб навіть з межами 1px вміщувалося в вікно: */
    box-sizing: border-box;

    /* внутрішні блоки в стобчик */
    flex-direction: column;

    
}

.obolonka {    
    /* відступи з боків щоб залишалися */
    /* for free min-widtn 1200 */
    min-width: 1200px;
 

    display: flex;
    justify-content: center;
    align-items: center;

    /*colors for test*/
    /*border: 1px solid lime;
    background-color: rgba(126, 250, 126, 0.5);*/
    

    
}

.prostir {
    /* for min-widtn 1100 */
    min-width: 1100px;
    display: flex;
    align-items: center;
    

    /*colors for test*/
    /*border: 1px solid red;
    background-color:rgba(255, 130, 130, 0.541);*/
}

.header {
    display: flex;
    /* Розігнати по сторонам до межі */
    justify-content: space-between;
    align-items: center;/* без нього розтягує по висоті */
    background-color: #ffffff;
    min-width: 1100px;
    height: 72px;

    font-family: 'Proxima Nova';
    font-size: 16px;
    line-height: 19.49px;
    font-weight: 700;/* Bold */
    
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;

    /*colors for test*/
    /*border: 1px solid rgb(147, 226, 43);*/
    /*background-color: blueviolet;*/
    
    height: 100%;
}

.menu_item {    
    /*colors for test*/
    /*border: 1px solid magenta;*/
    
    display: flex;
    align-items: center;

    margin-right: 35px;
    padding: 0 2px;
    
    /* font - color for a */
    color: #222B3A;

    /*box-sizing: border-box;*/

    /* залишити (72 - 2 = 70) 2px для бордера в hover */
    height: 70px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.03);
}

.menu_item:last-child {
    margin-right: -20px;
}

.menu_item>img {
    margin-right: 6px;
}

.user {    
    /*colors for test*/
    /*border: 1px solid magenta;*/

    display: flex;
    align-items: center;
    
    margin-right: 6px;
    margin-left: 33px;

    height: 68px;
}

.menu_item:hover {
    border-bottom: 2px solid #FC890D;
    /*height: calc(100% - 1px)*/
    color: #FC890D;
}


/*-= WELCOME INTRO HERO =-*/
.zovnishna_obolonka.hero_wrapper {
    background-color: #296DCE;
    background-image: url(../images/triangles.png);
    background-position: center center;
    background-repeat:no-repeat;
    height: 513px;
}

.hero {    
    height: 513px;
    min-width: 1100px;

    
    /*colors for test*/
    /*border: 1px solid rgb(234, 0, 255);
    background-color: rgba(197, 137, 253, 0.566);*/

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.intro {
    font-family: 'Intro Demo', sans-serif;
    margin-top: 66px;
    width: 622px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro_name {
    font-size: 38px;
    color: #FFFFFF;
    line-height: 53px;
    margin-top: 38px;
}

.intro_text {
    font-size: 24px;

    /* Градієнт */
    background: linear-gradient(89.96deg, #FF8A00 0.03%, #FC880D 99.97%), #000000;
    line-height: 31px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-clip: text;*/
    /*text-fill-color: transparent;*/
}

.more_of_course {
    margin-top: 29px;
    height: 44px;
    width: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    color: #FFFFFF;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 90px;
    text-align: center;
    box-sizing: border-box;
}

.more_of_course:hover {
    color:#FF8A00;
    border-color: #FF8A00;
}

.main_progress {
    margin-top: 72px;
    width: 469px;
    height: 59px;
}

.karpachoff {
    width: 339px;
    height: 479px;
    /*background-color: rgba(128, 128, 128, 0.3);*/
    margin-left: 8px;
    margin-top: 34px;
    background-image: url(../images/бандера.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.group {
    margin-top: 14px;
    display: flex;
    color: #979FAD;
    width: 1100px;

    font-family: 'Proxima Nova';
    font-size: 16px;
    line-height: 19px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.line a:hover, .selected_group_line:hover {
    color: #FF8A00;
}

.line a {
    color: #979FAD;
}


.tire {
    width: 22px;
    height: 0px;
    margin: 14px;
    border-bottom: 1px solid #979FAD;
}

.tire1 {
    width: 22px;
    height: 0px;
    margin: 14px;
    margin-left: 0;
    border-bottom: 2px solid #222B3A;
}

.selected_group_line {
    color: #323232;
    font-weight: 700;/* bold */
}

.group1 {
    height: 99px;
    width: 1100px;
    display: flex;
    align-items: center;/*center of verticaL */
    justify-content: space-between;/* Tto borders right & left */

    font-family: 'Proxima Nova';
    font-size: 18px;
    line-height: 22px;
    color: #222B3A;
    font-weight: 700;/* bold */

    margin-top: 9px;/* correction position of block*/
}

.children_age {
    box-sizing: border-box;

    width: 227px;
    height: 44px;

    border: 1.3px solid #FF8A00;
    border-radius: 3px;
    color: #FF8A00;

    display: flex;
    align-items: center;/*center of verticaL */
    justify-content: space-between;/*розтягнути по краям */

    font-size: 14px;
    font-weight: 700;/* bold */
    line-height: 27px;
     
    padding: 0 20px 0 30px;
}

.back_for_select_gruop_menu {
    background: #FAFAFA;
}

.prostir.item {
    flex-direction: column;
}

.items {
    margin-bottom: 19px;
    min-width: 100%;
    height: 203px;
    
    border: 1px solid #F3F3F3;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 3px;

    display: flex;
    flex-direction: row;

    font-family: 'Proxima Nova';
}

.items:first-child {
    margin-top: 26px;
}

.items:last-child {
    margin-bottom: 76px;
}

.item_number {
    width: 148px;
    height: 104px;
    
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #E1E1E1;
}

.item_center {
    display: flex;
    flex-direction: column;
}

.item_title {
    font-family: 'Proxima Nova';
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #1092CB;
    /* Extra Bold = 800 */
    font-weight: 800;

    margin-top: 25px;
    margin-bottom: 5px;
}

.item_baby_age {    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    /*display: flex;
    align-items: center;*/

    color: #979FAD;
}

.item_text {
    width: 799px;
    font-size: 16px;
    line-height: 27px;

    margin-top: 14px;

    color: #696969;
}

.available {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */

    color: #696969;
    margin-top: 5px;
}

.item_date {
    color: #FE8907;
}

.item_percent {
    margin-top: 30px;
    margin-left: 95px;
}

/* Бомбосховище */
.zovnishna_obolonka.shelter {
    background-color: #0099DD;
    height: 350px;
    justify-content: start;
}

.basement {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
}

.basement_block {
    display: flex;
    flex-direction: column;
    width: 240px;

    font-weight: 600;/* SemiBold (DemiBold) */
    font-family: 'Proxima Nova';
    color: #ffffff;
    line-height: 19px;

    margin-top: 37px;
}

.basement_block_title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    margin-bottom: 12px;
}

.basement_block a {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    line-height: 19px;

    margin-bottom: 10px;
}

.basement_block a:nth-child(3) {
    margin-top: 25px;
}

.basement_block a:hover {
    color: #FE8907;
}

.tire2 {
    width: 30px;
    height: 0px;
    border-bottom: 3px solid #ffffff;
}

.footer_social img {
    width: 21px;
    height: 21px;
    margin-right: 15px;
}




/* фундамент */
.zovnishna_obolonka.soil {
    background-color: #222B3A;
    height: 47px;
}

.foundation {

}


/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: auto;
    height: auto;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E1E1E1;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #696969;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FE8907;
  }